<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
 
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>welcome {{nombre}}</h1>
  <p><a href="/salir">Volver</a></p>

  <div id="cartas" class="col-12 col-md-12 col-xl-12">
    {{#each peliculas}}
    <div class="card mb-3">
      <h3 class="card-header">{{name}}</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <img style="height: 200px; width: 100%; display: block;" src="{{img}}" alt="Card image">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>
    {{/each}}
  
  </div>
  
  <div class="contenedor">
    <div class="formulario">
     <br>
      <form id="form2" name="formulario1" method="POST" action="/mailer">
        <input type="text" name="user" placeholder="Usuario">
        <input type="email" name="email" placeholder="Email">
        <hr>
          <textarea name="area" id="texto" cols="40" rows="10"></textarea>
        <hr>
        <input id="sub" type="submit" value="Iniciar Sesion">
      </form>
    </div>
  
    <div class="reset-password">
      <a href="">About it</a>
    </div>
  </div>
</body>
</html>

